
@font-face {
  font-family: 'Barlow-SemiBold';
  src: url('assets/fonts/Barlow-SemiBold/Barlow-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Barlow-SemiBold/Barlow-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Barlow-Medium';
  src: url('assets/fonts/Barlow-Medium/Barlow-Medium.woff2') format('woff2'),
    url('assets/fonts/Barlow-Medium/Barlow-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/Barlow-Bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/Barlow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-SemiBold';
  src: url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-SemiBold/BarlowCondensed-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
.fl-page-content-cntrl a:hover{
  color: #FFC603;
  text-decoration: underline;
}
body {
  background-color: rgb(0, 128, 128);
  color: rgb(47, 47, 47);
  font-size: 20px;
  line-height: 1.2;
  font-family: inherit;
  font-weight: 500;
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.text-center{
  text-align: center;
}
.color-red{
  color: rgb(228, 59, 44);
}
.color-blue{
  color: rgb(0, 128, 128);
}
.color-sky{
  color: #366ccc;
}
.text-underline{
  text-decoration: underline;
}
.text-underline:hover{

}
.sb-text-module .color-blue a:hover{
  text-decoration: underline;
}
.container {
  max-width: 1200px;
  width: 100%;
}
.fl-page-content-cntrl{
  background: #fff;
  border-radius: 20px;
  
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}

.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { margin: 0; margin-bottom: 20px;line-height: 1.15; }
a { word-wrap: break-word } 
strong { font-weight: 700;}
.font-size-16{
  font-size: 16px;
}
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}


h1 {
  font-size: 46px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: 700;
} 

@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 35px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 18px;
    }
    p br{
      display: none;
    }
}
@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    body {
        font-size: 19px;
    }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    .plr-20,
    .plr-30{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    body {
        font-size: 20px;
    }

}





.fl-hdr{
	background: #fff;
	padding: 15px 0;
}
.header-innr{
	display: flex;
	align-items: center;
}
.hdr-left{
	padding-right: 15px;
}
a.hdr-logo,
a.secure-img{
	display: inline-block;
	max-width: 140px;
}
a.secure-img-xs{
	display: none;
}
.hdr-rgt{
	/*float: right;*/
	margin-left: auto;
}
/*header end*/

.pg-entry-hdr-inr{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pg-entry-hdr-logo{
	text-align: center;
	margin-bottom: 30px;
}
.pg-entry-hdr-logo img{
	max-width: 660px;
	width: 100%;
	height: auto;
}
h3.pg-entry-hdr-sub-title{
	font-weight: 500;
	margin-bottom: 0;
}
.sb-page-content-cntlr{
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}
.sb-pg-cntent-left{
	width: 32%;
	padding-right: 15px;
}
.sb-pg-cntent-rgt{
	width: 68%;
	padding-left: 40px;
}
.upgrate-entry-image{
	width: 100%;
	display: block;
	margin-bottom: 15px;
}
.upgrate-entry-sec{
  margin-bottom: 25px;
  background: #ABF2F0;
  border-radius: 15px;
  padding: 40px 20px 20px 20px;
}
.bg-transparent{
  background: #FFFFEE;
  border: 5px dotted rgb(50 167 172);
}
.color-skyblue{
  color: rgb(50 167 172)!important;
}
.box-shadow{
  /*box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.4);*/
  box-shadow: 1px 0px 14px 2px rgba(0,0,0,0.35);
  -webkit-box-shadow: 1px 0px 14px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 0px 14px 2px rgba(0,0,0,0.35);
}
h2.upgrate-entry-sec-title{
  font-size: 32px;
  color: #006875;
  margin-bottom: 25px;
}
h3.upgrate-entry-sec-sub-title{
  color: #000000;
  font-size: 27px;
  margin-bottom: 40px;
}
h3.upgrate-entry-sec-sub-title span{
  color: #EB2028;
}
.upgrate-entry-sec-btn{
  margin-bottom: 30px;
}
.upgrate-entry-sec-btn a{
  display: inline-block;
  max-width: 600px;
}
.upgrate-entry-sec > p{
  font-size: 16px;
  margin-bottom: 8px;
  color: #0A0E0E;
  
}
.upgrate-entry-sec > p strong{
  font-weight: 900!important;
}
.upgrate-entry-sec-saving{
  margin-top: 25px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}
.upgrate-entry-sec-saving strong{
  color: #006875;
  font-size: 33px;
  /*font-weight: 900!important;*/
}
.upgrate-entry-sec-saving strong span{
  color: #EE161F;
}
.pg-cntent-rgt-btm-desc{
	padding-top: 13px;
}
.pg-cntnt-btm-desc-hdr{
	margin-bottom: 30px;
}
.pg-cntnt-btm-desc-hdr > h2{
	margin-bottom: 0;
}
.pcrb-desc-saving-img{
	margin-bottom: 30px;
}
.pcrb-desc-upgrade-order{
	text-align: center;
	margin-bottom: 20px;
}
.pcrb-desc-upgrade-order a{
	display: inline-block;
	max-width: 466px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.pcrb-desc-upgrade-order a:hover{
	opacity: .8;
}
.pcrb-desc-guarantee{
	margin-bottom: 30px;
}
/*packeg css*/
.fl-pkg-grd-col-btm-bdr {
    background: #097298;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgb(207 205 205);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgb(207 205 205);
}
.fl-pkg-grd-col-bdr-solid {
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before {
    left: -1px;
}
/*.fl-pkg-grd-col-bdr-solid:before, .fl-pkg-grd-col-bdr-solid:after {
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}*/
.mb-50{
	margin-bottom: 50px;
}
.fl-pkg-grd-col {
    background: #fff;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-grd-col-btm-bdr {
    background: #d50001;
}

.fl-pkg-grd-col {
    padding-bottom: 5px;
    position: relative;
}
.fl-pkg-grd-col-hdr {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
    border-radius: 3px;
}
.fl-pkg-grd-col-hdr span {
    font-size: 38px;
    line-height: 40px;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 25px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #00659a;
}

.fl-pkg-grd-col-hdr span, .fl-pkg-grd-col-hdr strong {
    display: block;
}
.fl-pkg-grd-col-hdr strong {
    padding: 5px 10px 9px 10px;
    font-size: 46px;
    line-height: 50px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}

.fl-pkg-grd-col-hdr span, .fl-pkg-grd-col-hdr strong {
    display: block;
}
.fl-pkg-grd-col-fea-img {
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 28px 15px 35px;
}
.fl-pkg-price {
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
    color: #000;
}
.fl-pkg-price{
  padding: 0;
  color: #EE161F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-pkg-price-per-bottle{
  color: rgb(47, 47, 47);
  font-family: 'BarlowCondensed-Bold';
  font-size: 22px;
  line-height: 20px;
  text-align: left;
}
.fl-pkg-price-only{
  color: rgb(47, 47, 47);
  font-family: 'BarlowCondensed-Bold';
  font-size: 58px;
  display: inline-block;
  margin-bottom: 0;

}
/*.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}*/
.fl-pkg-price strong {
    font-size: 58px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
    padding-left: 5px;
    padding-right: 2px;
}
.fl-pkg-price sup {
    position: absolute;
    right: 16px;
    font-size: 43px;
    font-family: 'Barlow-Bold';
    top: -3px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 9px;
    font-family: 'BarlowCondensed-Regular';
}
/*.fl-pkg-price:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}*/
.fl-pkg-save-price {
    color: #fe0000;
    padding-top: 10px;
}
.fl-pkg-save-price strong {
    font-family: 'SourceSansPro-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
    color: #fe0000;
    padding-top: 5px;
}
.fl-pkg-grd-ftr {
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 15px;
}
.fl-add-to-cart-btn-img {
    margin-bottom: 15px;
}
.fl-add-to-cart-btn-img a {
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li {
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em {
    position: absolute;
    left: 0;
    top: 0;
}

.fl-creditcards {
    padding-left: 8px;
    padding-top: 5px;
}
.fl-creditcards a{
	display: inline-block;
}

.sb-thanks p:first-child{
	font-size: 23px;
}

/*packeg css*/
/*footer*/
.ftr-inr{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ftr-inr img{
	max-width: 500px;
	width: 100%;
	height: auto;
}
.ftr-btm{
	height: 40px;
	background: #fff;
}
.fl-pkg-grd-cntlr-btm .fl-pkg-grd-col{
	background: #fff;
	border: none;
}
.fl-pkg-grd-cntlr-btm .fl-pkg-grd-col-btm-bdr{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 0;
	position: relative;
}
.fl-pkg-grd-cntlr-btm .fl-pkg-grd-col-btm-bdr:after{
	position: absolute;
	top: -1px;
	content: "";
	height: 8px;
	width: 100%;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 3;
}
.fl-pkg-grd-desc-wrap-hdr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.fl-pkg-grd-desc-wrap-lft{
	width: 60%;
}
.fl-pkg-grd-desc-wrap-rgt{
	width: 40%;
	padding-left: 10px;
}
.fl-pkg-grd-desc-wrap-lft-title{
	margin-bottom: 1px;
	color: rgb(0, 128, 128);

}
.fl-pkg-grd-desc-wrap-lft-sub-title{
	font-size: 16px;
	color: #2f2f2f;
	margin-bottom: 0;
}
.fl-pkg-grd-desc-wrap{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}
.fl-pkg-grd-desc p{
	font-size: 17px;
	color: #2f2f2f;
}
.fl-pkg-grd-cntlr-btm .fl-pkg-grd-col-btm-bdr{
	background: rgb(0, 128, 128);
}


.sb-pg-cntent-left{
  padding-right: 0;
  width: 35%;
}
.sb-pg-cntent-rgt{
  width: 65%;
  padding-left: 45px;
}

/*responsive */
@media(max-width: 1199px){
	.sb-pg-cntent-left{
		padding-right: 0;
	}
}
@media(max-width: 991px){
	a.hdr-logo{
		max-width: 120px;
	}
	a.secure-img{
		display: none;
	}
	a.secure-img-xs{
		display: inline-block;
		max-width: 400px;
	}
	.fl-page-content-cntrl{
		margin-top: 35px!important;
	}
	.sb-page-content-cntlr{
		display: block;

	}
	.sb-pg-cntent-left{
		width: 100%;
		display: block;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	.sb-pg-cntent-rgt{
		padding-left: 0;
		width: 100%;
	}
	.fl-pkg-grd-desc p{
		font-size: 20px;
		text-align: center;
	}
	.pg-entry-hdr-logo{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
	}
}
@media(max-width: 767px){
	.fl-hdr{
		padding-top: 25px;
		padding-bottom: 25px;
	}

  h2.upgrate-entry-sec-title{
    font-size: 30px;
  }
  h3.upgrate-entry-sec-sub-title{
    font-size: 24px;
  }
  .upgrate-entry-sec-saving strong{
    font-size: 28px;
  }
}
@media(max-width: 575px){
	.fl-pkg-grd-desc-wrap-lft-sub-title{
		font-size: 14px;
	}
  .upgrate-entry-sec-sub-title br{
    display: none!important;
  }
}